
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="container body-content">



        <h2>Students</h2>

        <p>
            <a href="/Home/Create">Create New</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Created Date
                </th>
                <th></th>
            </tr>

            <tr>
                <td>
                    Fekete Iosif-Andrei
                </td>
                <td>
                    2018-12-31
                </td>
                <td>
                    <a href="/Home/Edit/5">Edit</a> |
                    <a href="/Home/Details/5">Details</a> |
                    <a href="/Home/Delete/5">Delete</a>
                </td>
            </tr>

        </table>

        <hr />
    </div>
